.choose {}

.chooses__buttons {

    display: flex;
    gap: 24px;
    margin-bottom: 50px;

}

.tab__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding: 8px 14px;
    border-radius: 50px;
    transition: background-color 0.2s ease-in;
}

.btn__icon{
    pointer-events: none;
}

.tab__btn:hover {
    background-color: #ffab08;
}

.btn-active {
    background-color: #ffab08;
}